@import "ui-variables";
@import "ui-mixins";

.mailstick {
  padding-left: @padding-large-horizontal;
  width: 100%;
  overflow-y: scroll;
}

.punchcard {
  width: 600px;
  height: 200px;
  border: 1px solid #888;
}
